@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.h-500 {
  height: 500px; /* Определите высоту 400px */
}

.w-500 {
  width:  500px; /* Определите высоту 400px */
}